<section class="py-12">
  <div class="container max-w-[1400px] mt-20 lg:mt-40 px-4">
    <div class="flex justify-between flex-col lg:flex-row gap-5">
      <div class="left w-full lg:w-1/2">
        <img src="/images/about/about-01.png" alt="about-img" class="w-full h-[500px]" />
      </div>
      <div class="right w-full lg:w-1/2 p-5">
        <h2 class="text-[22px] font-bold mb-2">Welcome to Nest</h2>
        <p class="text-[#777] mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate id est laborum.
        </p>
        <p class="text-[#777] mb-4">
          Ius ferri velit sanctus cu, sed at soleat accusata.
          Dictas prompta et Ut placerat legendos interpre.
          Donec vitae sapien ut libero venenatis faucibus.
          Nullam quis ante Etiam sit amet orci eget. Quis commodo odio aenean sed adipiscing.
          Turpis massa tincidunt dui ut ornare lectus. Auctor elit sed vulputate mi sit amet.
          Commodo consequat. Duis aute irure dolor in reprehenderit in voluptate id est laborum.
        </p>
        <div class="imgs-info flex flex-wrap gap-3">
          <img src="/images/about/about-02.png" alt="about-info" class="w-[120px]" />
          <img src="/images/about/about-03.png" alt="about-info" class="w-[120px]" />
          <img src="/images/about/about-04.png" alt="about-info" class="w-[120px]" />
        </div>
      </div>
    </div>
  </div>
</section>
