<section class='py-8'>
  <div class="container max-w-[1400px] px-4">
    <div class="flex justify-between items-center flex-col lg:flex-row gap-5">
      <div class="left">
        <h2 class='text-[25px] font-bold'>The hot product for this week</h2>
        <p class='text-[14px] text-[#777]'>Dont miss this opportunity at a special discount just for this week.</p>
      </div>
      <div class="right flex gap-3">
        <div class="p-[5px_10px] border-[1px] border-solid border-[#f6f6f6f] text-center">
          <span class='block text-[20px] text-[#3cb47c]'>15</span>
          <span class='block text-[18px] text-[#666]'>Days</span>
        </div>
        <div class="p-[5px_10px] border-[1px] border-solid border-[#f6f6f6f] text-center">
          <span class='block text-[20px] text-[#3cb47c]'>4</span>
          <span class='block text-[18px] text-[#666]'>Hours</span>
        </div>
        <div class="p-[5px_10px] border-[1px] border-solid border-[#f6f6f6f] text-center">
          <span class='block text-[20px] text-[#3cb47c]'>45</span>
          <span class='block text-[18px] text-[#666]'>Minutes</span>
        </div>
        <div class="p-[5px_10px] border-[1px] border-solid border-[#f6f6f6f] text-center">
          <span class='block text-[20px] text-[#3cb47c]'>10</span>
          <span class='block text-[18px] text-[#666]'>Seconds</span>
        </div>
      </div>
    </div>
  </div>
</section>
