<footer class="pt-12 pb-6">
  <div class="container max-w-[1400px] px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
      <div class="box p-5">
        <img src="/images/logo.png" alt="logo" class="w-[150px]" />
        <div class="my-4">
          <div class="flex items-center gap-1 mb-3">
            <span> <i class="fa-solid fa-location-dot"></i> </span>
            <p class="text-[15px]">Address 5674 W Campbell Ave undefined Kent, Utah 56748 United States</p>
          </div>
          <div class="flex items-center gap-1 mb-3">
            <span> <i class="fa-solid fa-phone"></i> </span>
            <p class="text-[14px]">Call Us(+96)-940-085-928853</p>
          </div>
          <div class="flex items-center gap-1 mb-3">
            <span> <i class="fa-solid fa-envelope"></i> </span>
            <p class="text-[14px]" [innerHTML]="'anythingelse@any.com'"></p>
          </div>
          <div class="flex items-center gap-1">
            <span> <i class="fa-solid fa-clock"></i> </span>
            <p class="text-[14px]">Hours 10:00 - 18:00, Mon - Sat</p>
          </div>
        </div>
      </div>
      @for (item of footerInfo; track $index) {
        <div class="box">
          <h2 class="text-[25px] text-[#666]">{{item.title}}</h2>
          <ul class="flex flex-col p-2">
            @for(text of item.links; track $index) {
              <li class="py-1">
                <a class="text-[#666] cursor-pointer">{{text}}</a>
              </li>
            }
          </ul>
        </div>
      }
    </div>
    <div class="flex items-center justify-center gap-2 text-[18px]">
      <span class="text-[#777]">&copy; {{years}}, All rights reserved</span>
      <a href='https://twitter.com/ahmed_ya3ser_8' target="_blank" class="text-[#3cb47c] transition-colors duration-300 hover:underline font-medium" >ahmed yasser</a>
    </div>
  </div>
</footer>
