<section class="py-12">
  <div class="container max-w-[1400px] px-4">
    <h2 class="relative text-center text-[30px] text-[#777] font-bold before:content-['aaaaaaaaa'] before:absolute before:top-[5px] before:left-1/2 before:text-transparent before:translate-x-[-50%] before:decoration-wavy before:underline before:decoration-[#bce3c9] before:decoration-[5px]">What We Provide?</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5 p-5">
      @for (item of iconsProvider; track $index) {
        <div class="box p-5 border-[1px] border-solid border-[#ccc] text-center rounded-[10px]" key={index}>
          <img [src]="item.imgUrl" alt="icons-img" class="w-[100px] m-auto mb-2" />
          <h2 class="text-[25px] text-[#222] mb-3">{{item.title}}</h2>
          <p class="text-[18px] text-[#777] mb-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
          <a class="text-[#3cb47c] text-[18px] transition-colors duration-300 hover:text-[#c25] cursor-pointer">Read More</a>
        </div>
      }
    </div>
  </div>
</section>
