<div class="hidden lg:block bg-[#3cb47c] text-white py-3">
  <div class="max-w-[1400px] mx-auto px-4 flex justify-between items-center">
    <div class="left">
      <ul class="flex space-x-2">
        <li>My Account</li>
        <li>About Us</li>
        <li>Wishlist</li>
        <li>Order</li>
        <li>Tracking</li>
      </ul>
    </div>
    <div class="center text-sm xl:text-base">
      <p>Supper Value Deals - Save more with coupons</p>
    </div>
    <div class="right text-sm xl:text-base">
      <p>Need help? Call Us: +1874909127</p>
    </div>
  </div>
</div>
