<section class="py-8">
  <div class="container max-w-[1400px] px-4">
    <owl-carousel-o [options]="customOptions">
      @for (brand of brands(); track brand.id) {
        <ng-template carouselSlide>
          <div class="flex justify-around items-center p-4 h-[100px] border-2 border-solid border-[#f6f6f6] rounded-[10px]">
            <img [src]="brand.imageUrl" alt="brand-img" class='!w-[70px]' />
            <div class="brand-info">
              <span class='block'>{{brand.title}}</span>
              <span>{{brand.item}}</span>
            </div>
          </div>
        </ng-template>
      }
    </owl-carousel-o>
  </div>
</section>
